MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.jvgyxtf.mongodb.net/smart-link-api
JWT_SECRET=your_jwt_secret_here
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5174
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
BREVO_API_KEY=your_brevo_api_key_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
EMAIL_FROM=noreply@yourdomain.com
